
  .h1 {
    color: rgb(255, 255, 255);
    
    
    text-align: left;
  }
  .title>h1{
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:orange;
    font-size: 80px;
  }
  .image{
    width:500px;
   
  }
  .row{
    /* display: -webkit-flex; */
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
  }
  
  .divider{
      padding:200px;
    }
    
  
  .column{
    /* -webkit-flex: 1;
    -ms-flex: 1; */
    flex: 1;
    padding: 10px;
   

  }
  .column>h2{
    font-size:40px;
  }
  .contact-form>h2{

    font-size:40px;
  }
  
  p {
    font-size: 16px;
    line-height: 1.6;
    color: #fefbfb;
    margin-bottom: 15px;
  }
  .Advisors{
    display:flex;
  
  }
  .Advisors>div{
    margin: 60px;
    padding: 50px;
    font-size: 30px;
   
  }
  .team-info{
    text-align:left;
  }
  .company-info{
    text-align: left;
  }
  .flex-container{
    display:flex;
  }
  .flex-container>div{
    margin: 10px;
    padding: 20px;
    font-size: 30px;
  }
  .flex-container>div>h3{
    font-size: 30px;
  }
 
    
 
